*.o
*.ko
*.cmd
todo.todo
Performance*
.fuse*
.directory
pcapparse
pcapdebug
packetparse
packetdebug
pcapparseLearn
pcapparseL
pcapdebugLearn
pcapdebugL
*.pcap
*.pcapng
*.todo
*.swp
.DS_Store
IDS.sublime-workspace
*trace*
*.aux
*.bbl
*.blg
*.log
*.gz
*.ttl
**/*Generated*
**/build/*
!**/build/.gitkeep
**/usr/*
!**/usr/.gitkeep
**/dist/*
**/runtime/*
**/bin/*
!**/bin/.gitkeep
**/install/*
!**/install/.gitkeep
**/log/*
!**/log/.gitkeep
**/out/*
!**/out/.gitkeep
newATC/ros_ws/install/
newATC/ros_ws/log/
newATC/ros_ws/build/
**/DerivedData/*
**/INTERMEDIATE/*
**/INTERBK/*
**/GENSOURCE/*
**/GENBK/*
**/ConformSrc/*
